Repository achanana/17356-locastic, pull requests merged in 2021-05, with the labels that each got.

#38 Begin adding cart interface
  frontend/src/App.tsx
  frontend/src/Cart.ts
  frontend/src/CartItem.ts
  frontend/src/contexts/LoctasticContext.ts
  frontend/src/views/MenuItem.tsx
Labels: frontend

#41 Begin adding cart view
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/Cart.ts
  frontend/src/views/Cart.tsx
  frontend/src/views/CartItem.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/NavBar.tsx
Labels: frontend

#45 Test and fix remove item API and Add Documentation
  backend/Endpoint_Test_Screenshots.docx
  backend/README.md
  backend/app.py
Labels: backend, documentation

#43 create item page + e2e frontend test
  .github/workflows/node.js.yml
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/CartToggle.tsx
  frontend/src/components/index.tsx
  frontend/src/e2e/frontend_e2e.test.js
  frontend/src/views/Cart.tsx
  frontend/src/views/Checkout.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/ItemPage.tsx
  frontend/src/views/MenuItem.tsx
  frontend/src/views/NavBar.tsx
  frontend/src/views/index.tsx
Labels: frontend

#48 added logo and background color
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/components/index.tsx
  frontend/src/images.d.ts
  frontend/src/images/locastic-logo.svg
  frontend/src/views/NavBar.tsx
Labels: frontend

#51 change name in deployment scripts
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: devops

#55 [URGENT] fix backend deployment for heroku
  backend/Procfile
  backend/app.py
Labels: backend, small

#54 fetch homepage menu items from backend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/Cart.ts
  frontend/src/CartItem.ts
  frontend/src/components/CartToggle.tsx
  frontend/src/contexts/LoctasticContext.ts
  frontend/src/hooks.tsx
  frontend/src/index.tsx
  frontend/src/model.tsx
  frontend/src/store/store.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/ItemPage.tsx
  frontend/src/views/MenuItem.tsx
  frontend/tsconfig.json
Labels: frontend

#59 Use env vars in test pipeline, switch to gunicorn
  .github/workflows/node.js.yml
  backend/Procfile
  backend/app.py
  backend/requirements.txt
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/model.tsx
  frontend/src/store/store.tsx
Labels: backend, devops, frontend

#52 Add form for customer data, redirect customer to payments API
  .vscode/settings.json
  frontend/.prettierrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Cart.ts
  frontend/src/CartItem.ts
  frontend/src/api_util/payments_api.ts
  frontend/src/contexts/LoctasticContext.ts
  frontend/src/images.d.ts
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/src/static_data/us_states.ts
  frontend/src/views/Checkout.tsx
Labels: frontend

#65 Connect backend to Mongo Atlas instance
  backend/app.py
  backend/requirements.txt
Labels: backend, devops

#63 Begin adding seller auth
  .github/workflows/node.js.yml
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api_util/backend_apis.ts
  frontend/src/index.tsx
  frontend/src/views/Footer.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/NavBar.tsx
  frontend/src/views/NewItemForm.tsx
  frontend/src/views/SellerSignupForm.tsx
  frontend/src/views/index.tsx
Labels: frontend

#66 Add Item ratings
  backend/app.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/contexts/LoctasticContext.ts
  frontend/src/model.tsx
  frontend/src/store/store.tsx
  frontend/src/views/ItemPage.tsx
  frontend/src/views/MenuItem.tsx
  frontend/src/views/NewItemForm.tsx
Labels: backend, frontend

#67 Remove unneccessary mongo collection creation
  backend/app.py
Labels: backend

#68 Add new item and allow item photo
  backend/app.py
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api_util/aws_api.ts
  frontend/src/api_util/backend_apis.ts
  frontend/src/views/NewItemForm.tsx
  frontend/tsconfig.json
Labels: frontend

#72 Adding Tests for all backend endpoints
  .github/workflows/node.js.yml
  backend/requirements.txt
  backend/testing/MySupport.py
  backend/testing/test_backend.py
Labels: backend

#74 Improve user checkout experience
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api_util/payments_api.ts
  frontend/src/views/Checkout.tsx
  frontend/src/views/Footer.tsx
  frontend/src/views/Home.tsx
  frontend/src/views/NavBar.tsx
  frontend/src/views/PaymentProcessing.tsx
  frontend/src/views/SellerSignupForm.tsx
  frontend/src/views/index.tsx
Labels: frontend

#75 Fix and update documentation
  backend/README.md
Labels: documentation

#77 Add seller signup button
  frontend/src/views/NavBar.tsx
Labels: frontend
